@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1637141314630') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  /* font-size: 16px; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yunshangchuan:before {
  content: "\f0020";
}

.icon-yunxiazai:before {
  content: "\f011a";
}

.icon-tupian:before {
  content: "\e63e";
}

.icon-shipintianchong:before {
  content: "\e690";
}

.icon-jiaoxuechengguo:before {
  content: "\e627";
}

.icon-xinxi:before {
  content: "\e763";
}

.icon-zonghe:before {
  content: "\e69e";
}

.icon-gongxiang:before {
  content: "\e664";
}

.icon-d:before {
  content: "\e625";
}

.icon-tupian1:before {
  content: "\e889";
}

.icon-shujukanban:before {
  content: "\eb66";
}

.icon-zhuti:before {
  content: "\eaed";
}

.icon-yunshangchuan1:before {
  content: "\eb2c";
}

.icon-yunxiazai_o:before {
  content: "\ebb4";
}

.icon-D:before {
  content: "\e6cc";
}

.icon-D1:before {
  content: "\e6cd";
}

.icon-yinpin:before {
  content: "\e60b";
}

.icon-shujukanban1:before {
  content: "\e604";
}

.icon-shuiziyuan:before {
  content: "\e671";
}

.icon-icon_xinyong_xianxing_jijin-:before {
  content: "\e615";
}

.icon-shujugongxiang:before {
  content: "\e648";
}

.icon-D2:before {
  content: "\e641";
}

.icon-xiazai:before {
  content: "\e8bc";
}

.icon--tupianzhanshi:before {
  content: "\e6ce";
}

.icon-shipin:before {
  content: "\e601";
}

.icon-ziyuan:before {
  content: "\e637";
}

.icon-shipin1:before {
  content: "\e602";
}

.icon-hangzhengquhuaguanli:before {
  content: "\e886";
}

.icon-zhengtitubiaosvg_liuyu:before {
  content: "\e631";
}

.icon-chengguoxinxi:before {
  content: "\e603";
}

.icon-yinpin1:before {
  content: "\e714";
}

